/* for box styling */
.box {
  margin: 10px;
  border-radius: 10px;
  background-color: white;
  filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.2));
}
.forum-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 10px;
}
.draw-container {
  display: flex;
  width: 70vw;
  height: 80vh;
}

.draw-container .draw-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 20%;
  height: 100%;
  margin: 10px;
}

.draw-container .draw-canvas {
  display: flex;
  width: 80%;
  height: 100%;
}

.draw-container .draw-canvas canvas {
  position: absolute;
  cursor: crosshair;
}

.chat-container {
  width: 30vw;
  height: 80vh;
}

.draw-color {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.draw-tools {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.draw-tools .btn {
  margin-top: 5px;
}

.colorpicker {
  width: 5vh;
  height: 5vh;
  border: none;
  background: none;
}
.colorpicker::-webkit-color-swatch-wrapper {
  padding: 0;
}
.colorpicker::-webkit-color-swatch {
  border: solid 2px #ddd;
  border-radius: 40px;
}
